* {
	margin: 0;
	padding: 0;
}

.header {
	height: 100px;
	background: #eaddcc;
  	border-bottom: 4px solid #dfc99a;
  	
}

h1 {
	font-size: 50px;
	color: #786a5d;
}

div, form {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	white-space: nowrap;
}


li, ul {
	display: inline-block;
}

.header__logo {
	width: 15%;
}

.header__form  {
	width: 25%;
}

 .header__menu, a {
 	text-align: center;
	width: 30%;
	text-decoration: none;
	list-style: none;
	padding: 10px;
	color: #a97452;
	font-weight: bold;
	letter-spacing: 2px;
}

.header__contact {
	width: 25%;
	text-align: center;
}