.conteiner {
	margin: 0 auto;
	position: relative;
	top: 200px;
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	transition: 3s ease;
}

img:hover {
	transition: all 3s ease;
	transform: rotate(1080deg); 
}

