
p {
  margin: 0 auto;
  text-align: center;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    opacity: 0;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    color: #696969;
    user-select: none;  
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    position: absolute;
    content: "";
    border: 2px solid #696969;
    width: 15px; 
    height: 15px; 
    left: -50%; 
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  position: absolute;
  content: "\2713\0020";
  top: -7px;
  left: -47%;
  font-size: 20px;
  color: #00FF00;
  font-weight: bold;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
}
