
body {
	margin: 0px;
}

.beach {
	width: 1700px;
	height: 830px;
	background-image: 
	url("image/sun.png"), 
	url("image/sea.jpg"), 
	url("image/sky.jpg");
	background-repeat: no-repeat, repeat-x, repeat;
	background-position: 80% 10%, center bottom, center top;
	background-size: 30% 30%, 100% 50%,  99% 50%;
	background-attachment: fixed;
	}





